
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #49db39;
  }
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }

  .auth-form-container {
    color: #f9d3b4; 
  }

  .auth-form-container button {
    color: #f9d3b4;
    padding: 15px 20px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove default button border */
    cursor: pointer;
  }
 