
header {
  text-align: center;
  margin-bottom: 30px;
}


section {
  max-width: 800px;
  margin: 0 auto; 
}


label {
  display: block;
  margin-bottom: 5px;
  color: #f9d3b4; 
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


button {
  color: #ffffff; 
  padding: 15px 20px; 
  font-size: 18px; 
  background-color: #f9d3b4;
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}

button:hover {
  color:#f9d3b4 ;
  background-color: #f9d3b4;
}
